<style>	
	.nav-tabs .nav-item.show .nav-link{
		background:#E60000;
		color:#fff;
	}
	.nav-tabs .nav-link.active{
		background:#E60000;
		color:#fff;
	}
	.nav-tabs .nav-link{
		background:#17a2b8;
		color:#fff;
	}
	
	.form-control-sm-file{
		padding: .01rem .01rem;
	}
</style>